/*font Variables*/
$nserifs: 'Roboto', sans-serif;
$nss: 'Heebo', sans-serif;
$msz: 'Ma Shan Zheng', cursive;
$nss: 'Noto Sans SC', sans-serif;
$nserifs: 'Noto Serif SC', serif;

/*Color Variables*/
$baseColor: #8490ff; 
$dip: #222222;
$pfont: #777777; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700|Ma+Shan+Zheng|Noto+Sans+SC|Noto+Serif+SC');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}




